<template>
    <div v-if="fight" class="px-8 flex flex-col items-center">
      <div v-for="attacker in fight.attackers" :key="attacker.key" class="w-full">
          <h2 class="text-xl">
            {{attacker.name}}
            <small>{{$t('adventurer.levelshort')}} {{attacker.level}}</small>
            <labeled-attribute-bar :value="attacker.health.value" :max="attacker.health.max"
              :label="$t('adventurer.health')" borderColor="border-red-500" bgColor="bg-red-500" />
          </h2>
      </div>
      <div class="mt-4">{{$t('fight.vs')}}</div>
      <div v-for="defender in fight.defenders" :key="defender.key" class="w-full">
        <div class="flex items-center">
          <h2 class="text-xl flex-1">
            {{defender.name}}
            <small>{{$t('adventurer.levelshort')}} {{defender.level}}</small>
            <labeled-attribute-bar :value="defender.health.value" :max="defender.health.max"
              :label="$t('adventurer.health')" borderColor="border-red-500" bgColor="bg-red-500" />
          </h2>
        </div>
        <div v-if="!ended" class="flex flex-col">
          <h1 class="text-xl mt-8">{{$t('fight.skills')}}</h1>
          <div class="flex items-center">
            <div class="flex-1">{{$t('fight.baseattack')}}</div>
            <button class="button button-primary my-2" :disabled="attacking"
              @click="attack(defender.key, -1)">{{$t('game.button.use')}}</button>
          </div>
          <div v-for="skill in adventurer.skills" :key="`skill-${skill.slotIndex}`">
            <hr class="border-twhite my-4"/>
            <div class="flex items-center">
              <div class="flex-1">
                {{$t('adventurer.levelshort')}} {{skill.level}}
                {{$t(`skill.${toLocalString(skill.skillTier)}`)}} {{$t(`skill.${toLocalString(skill.skillEffect)}`)}}
                {{$t(`item.name.${toLocalString(skill.weaponType)}`)}}
              </div>
              <button v-if="skill.currentCooldown == 0" class="button button-primary" :disabled="attacking"
                @click="attack(defender.key, skill.slotIndex)">
                {{$t('game.button.use')}}
              </button>
              <div v-else>{{$t('skill.cooldown')}} {{skill.currentCooldown}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full mt-8">
        <div class="flex items-center">
          <h1 class="flex-1 text-xl">{{$t('fight.logs')}}</h1>
          <button v-if="logIndex !== 0" class="button button-link" @click="logIndex = 0">{{$t('fight.fulllogs')}}</button>
        </div>
        <div v-if="!attacking">
          <p v-for="(log, i) in fight.logs.slice(logIndex)" :key="i">
            <fight-log :log="log" :entities="entities" class="my-1 ml-4"/>
          </p>
        </div>
      </div>
      <div v-if="ended" class="w-full flex justify-between items-center mt-8">
        <button v-if="isMinionFight" class="button button-primary" @click="fightAgain">
          {{$t('game.button.fightagain')}}
        </button>
        <button class="button button-secondary" @click="$store.dispatch('player/refreshAction')">
          {{$t('game.button.close')}}
        </button>
      </div>
    </div>
</template>

<script>
import { get } from 'vuex-pathify';
import AdventurerService from '@/services/adventurer.service';
import LabeledAttributeBar from '@/components/utils/LabeledAttributeBar.vue';
import FightLog from './logs/FightLog.vue';

export default {
  name: 'Fight',
  components: {
    LabeledAttributeBar,
    FightLog,
  },
  data() {
    return {
      attacking: false,
      fight: null,
      entities: [],
      logIndex: 0,
    };
  },
  computed: {
    adventurer() {
      return this.fight.attackers[0];
    },
    ended() {
      return this.fight.logs.length > 0 && this.fight.logs[this.fight.logs.length - 1].type === 'END';
    },
    isMinionFight() {
      return this.fight.fightType === 'MINION';
    },
  },
  methods: {
    toLocalString(str) {
      return str.toLowerCase().replace(/_/g, '');
    },
    fetchFight() {
      AdventurerService.getFight(AdventurerService.getAdventurerId())
        .then((fight) => {
          if (fight) {
            this.fight = fight;
            this.entities = [...fight.attackers, ...fight.defenders];
          } else {
            this.$emit('close');
          }
        });
    },
    attack(targetId, skillSlotIndex) {
      this.attacking = true;
      AdventurerService.attack(AdventurerService.getAdventurerId(), targetId, skillSlotIndex)
        .then((fight) => {
          if (fight) {
            this.logIndex = this.fight.logs.length;
            this.fight = fight;
          }
        }).finally(() => {
          this.attacking = false;
        });
    },
    fightAgain() {
      AdventurerService.startMonsterAreaFight(
        AdventurerService.getAdventurerId(),
      ).then((fight) => {
        if (fight) {
          this.$store.dispatch('player/refreshAction');
        }
      });
    },
  },
  mounted() {
    this.fetchFight();
  },
};
</script>
