<template>
    <div>
      <secondary-window @close="close">
        <template v-slot:header>{{$t('area.crafting.title')}}</template>

        <template v-slot:body>
          <div class="my-4">
            <h2 class="text-xl">{{$t('area.crafting.recipe')}}</h2>
            <div v-if="loading">{{$t('game.loading')}}</div>
            <div v-else-if="failed">{{$t('area.crafting.recipeloadingfailed')}}</div>
            <div v-else-if="!recipe">{{$t('area.crafting.choserecipe')}}</div>
            <div v-else>
              <h3 class="text-lg my-4">{{$t('area.crafting.ingredients')}}</h3>
              <div v-for="(ingredient, index) in recipe.ingredients" :key="`ingredient-${index}`">
                <hr v-if="index > 0" class="my-4"/>
                <div class="flex items-center">
                  <item-data-card :itemData="ingredient.a" class="flex-1 mr-4"/>
                  <div class="text-lg">{{adventurerQuantityFor(ingredient.a)}} / {{ingredient.b}}</div>
                </div>
              </div>
              <h3 class="text-lg my-4">{{$t('area.crafting.results')}}</h3>
              <div v-for="(result, index) in recipe.results" :key="`result-${index}`">
                <hr v-if="index > 0" class="my-4"/>
                <div class="flex items-center">
                  <item-data-card :itemData="result.a" class="flex-1 mr-4"/>
                  <div class="text-lg">x{{result.b}}</div>
                </div>
              </div>
              <div class="flex items-center justify-center my-4">
                <div class="flex flex-col items-center">
                  <div v-show="craftingFailed" class="mb-2 text-red-600">{{$t('area.crafting.failure')}}</div>
                  <button class="button button-primary" :disabled="crafting" @click="craft">
                    {{$t('area.crafting.action')}}
                  </button>
                </div>
              </div>
            </div>
          </div>
          <recipe-selection class="my-4" @recipe-selected="recipeSelected"/>
          <modal v-if="results" @close="closeResultsModal">
            <template v-slot:header>{{$t('area.crafting.success')}}</template>
            <template v-slot:body>
              <h3 class="text-xl mb-8">{{$t('area.crafting.results')}}</h3>
              <div v-for="(result, index) in results" :key="`craft-result-${index}`">
                <hr v-if="index > 0" class="my-4"/>
                <item-card :item="result" />
              </div>
            </template>
          </modal>
        </template>

      </secondary-window>
    </div>
</template>

<script>
import { library } from '@fortawesome/fontawesome-svg-core';
import { faTimes } from '@fortawesome/free-solid-svg-icons';
import SecondaryWindow from '@/components/utils/SecondaryWindow.vue';
import Modal from '@/components/utils/Modal.vue';
import RecipeSelection from '@/components/game/crafting/RecipeSelection.vue';
import AdventurerService from '@/services/adventurer.service';
import ItemDataCard from '@/components/cards/ItemDataCard.vue';
import ItemCard from '@/components/cards/ItemCard.vue';

library.add(faTimes);

export default {
  name: 'Crafting',
  components: {
    SecondaryWindow,
    RecipeSelection,
    ItemDataCard,
    Modal,
    ItemCard,
  },
  data() {
    return {
      recipe: null,
      ingredients: [],
      results: null,
      failed: false,
      craftingFailed: false,
      loading: false,
      crafting: false,
    };
  },
  methods: {
    craft() {
      this.crafting = true;
      this.craftingFailed = false;
      AdventurerService.craft(
        AdventurerService.getAdventurerId(), this.recipe.key,
      ).then((results) => {
        if (results) {
          this.results = results;
        } else {
          this.craftingFailed = true;
        }
      }).finally(() => {
        this.crafting = false;
      });
    },
    closeResultsModal() {
      this.results = null;
      this.recipeSelected(this.recipe);
    },
    adventurerQuantityFor({ key }) {
      for (let i = 0; i < this.ingredients.length; i += 1) {
        if (this.ingredients[i].itemData.key === key) {
          return this.ingredients[i].quantity;
        }
      }

      return 0;
    },
    async fetchIngredients(recipeKey) {
      return AdventurerService.getRecipeIngredients(
        AdventurerService.getAdventurerId(), recipeKey,
      );
    },
    recipeSelected(recipe) {
      this.failed = false;
      this.loading = true;
      this.fetchIngredients(recipe.key)
        .then((ingredients) => {
          if (ingredients) {
            this.recipe = recipe;
            this.ingredients = ingredients;
          } else {
            this.failed = true;
          }
        }).finally(() => {
          this.loading = false;
        });
    },
    close() {
      this.$emit('close');
    },
  },
};
</script>
