<template>
  <div>
    <h3 class="text-xl mt-8 mb-4">{{$t('area.crafting.availablerecipes')}}</h3>
    <div v-if="loadingRecipes" class="text-center my-2">{{$t('game.loading')}}</div>
    <div v-else-if="recipes.length" v-for="(recipe, index) in recipes" :key="index">
      <recipe-card :recipe="recipe" @click="selectRecipe(index)"
        :class="`cursor-pointer border-l-2 ${selectedRecipeIndex === index ? 'border-blue-500' : 'border-transparent'}`"/>
      <hr class="border-twhite my-4"/>
    </div>
    <div v-else-if="pagination.offset > 0" class="text-center my-2">{{$t('area.crafting.nomorerecipes')}}</div>
    <div v-else class="text-center my-2">{{$t('area.crafting.norecipes')}}</div>
    <pagination-controller
      @previous="paginationPreviousPage"
      @next="paginationNextPage"
      :offset="pagination.offset"
      :count="pagination.count"
      :size="recipes.length"
    />
  </div>
</template>

<script>
import Pagination from '@/utils/pagination';
import PaginationController from '@/components/utils/PaginationController.vue';
import RecipeCard from '@/components/cards/RecipeCard.vue';
import AdventurerService from '@/services/adventurer.service';

export default {
  name: 'recipe-selection',
  components: {
    PaginationController,
    RecipeCard,
  },
  mixins: [Pagination],
  data() {
    return {
      recipes: [],
      selectedRecipeIndex: -1,
      loadingRecipes: false,
    };
  },
  computed: {
    selectedRecipe() {
      return this.selectedRecipeIndex >= 0
        && this.selectedRecipeIndex < this.recipes.length
        ? this.recipes[this.selectedRecipeIndex]
        : null;
    },
  },
  methods: {
    fetchRecipes() {
      this.loadingRecipes = true;
      AdventurerService.getAreaRecipes(
        AdventurerService.getAdventurerId(),
        this.pagination.offset,
        this.pagination.count,
        this.pagination.sort,
      )
        .then((recipes) => {
          if (recipes) {
            this.recipes = recipes;
          }
        })
        .finally(() => {
          this.loadingRecipes = false;
        });
    },
    selectRecipe(index) {
      // if (this.selectedRecipeIndex !== index) {
      this.selectedRecipeIndex = index;
      this.$emit('recipe-selected', this.selectedRecipe);
      // }
    },
  },
  mounted() {
    this.pagination.count = 20;
    this.pagination.callback = () => {
      this.fetchRecipes();
    };
    this.fetchRecipes();
  },
};
</script>
