<template>
  <div>
    {{entityName(log.entity)}} {{$t('fight.attacked')}}
    {{entityName(log.target)}} {{$t('fight.dealing')}}
    {{log.damage}} {{$t('fight.damage')}}
  </div>
</template>

<script>
import FightLogHelper from '@/utils/fight-log-helper';

export default {
  name: 'attack-log',
  mixins: [FightLogHelper],
  props: {
    log: { type: Object, required: true },
  },
};
</script>
