<template>
  <div>{{entityName(log.entity)}} {{$t('fight.died')}}</div>
</template>

<script>
import FightLogHelper from '@/utils/fight-log-helper';

export default {
  name: 'death-log',
  mixins: [FightLogHelper],
  props: {
    log: { type: Object, required: true },
  },
};
</script>
