<template>
  <div v-if="log.winner === 1">{{$t('fight.attackerwin')}}</div>
  <div v-else-if="log.winner === 0">{{$t('fight.draw')}}</div>
  <div v-else-if="log.winner === -1">{{$t('fight.defenderwin')}}</div>
</template>

<script>
import FightLogHelper from '@/utils/fight-log-helper';

export default {
  name: 'end-log',
  mixins: [FightLogHelper],
  props: {
    log: { type: Object, required: true },
  },
};
</script>
