<template>
  <div v-if="log.entity === adventurerKey" class="flex">
    <div>
      {{entityName(log.entity)}} {{$t('fight.gained')}}
      {{log.experience}} {{$t('fight.experience')}}
    </div>
  </div>
</template>

<script>
import { get } from 'vuex-pathify';
import FightLogHelper from '@/utils/fight-log-helper';

export default {
  name: 'loot-log',
  mixins: [FightLogHelper],
  props: {
    log: { type: Object, required: true },
  },
  computed: {
    adventurerKey: get('player/adventurer@key'),
  },
};
</script>
