<template>
  <div class="flex items-center">
    <div class="mr-4">-</div>
    <component :is="`${log.type.toLowerCase().replace(/_/g, '-')}-log`" :log="log" :entities="entities"/>
  </div>
</template>

<script>
import StartLog from './StartLog.vue';
import EndLog from './EndLog.vue';
import JoinLog from './JoinLog.vue';
import AttackLog from './AttackLog.vue';
import SkillLog from './SkillLog.vue';
import EscapeLog from './EscapeLog.vue';
import DeathLog from './DeathLog.vue';
import LootLog from './LootLog.vue';
import ExperienceLog from './ExperienceLog.vue';
import NextTurnLog from './NextTurnLog.vue';

export default {
  name: 'fight-log',
  components: {
    StartLog, EndLog, JoinLog, AttackLog, SkillLog, EscapeLog, DeathLog, LootLog, ExperienceLog, NextTurnLog,
  },
  props: {
    log: { type: Object, required: true },
    entities: { type: Array, default: () => [] },
  },
};
</script>
