<template>
  <div>
    {{entityName(log.entity)}} {{log.attacker ? $t('fight.attackerjoin') : $t('fight.defenderjoin')}}
  </div>
</template>

<script>
import FightLogHelper from '@/utils/fight-log-helper';

export default {
  name: 'join-log',
  mixins: [FightLogHelper],
  props: {
    log: { type: Object, required: true },
  },
};
</script>
