<template>
  <div v-if="log.entity === adventurerKey" class="flex">
    <div>{{entityName(log.entity)}} {{$t('fight.looted')}}</div>
    <div class="ml-2 flex items-center" v-for="(loot, i) in log.loots" :key="i">
      <img :src="image(loot)" class="w-6"/>
      <div class="mx-2">{{$t('adventurer.levelshort')}} {{loot.itemData.level}} <item-name :itemData="loot.itemData" /></div>
      <div>x{{loot.quantity}}</div>
    </div>
  </div>
</template>

<script>
import { get } from 'vuex-pathify';
import FightLogHelper from '@/utils/fight-log-helper';
import ItemName from '@/components/utils/ItemName.vue';
import ImageService from '../../../../services/image.service';

export default {
  name: 'loot-log',
  components: { ItemName },
  mixins: [FightLogHelper],
  props: {
    log: { type: Object, required: true },
  },
  computed: {
    adventurerKey: get('player/adventurer@key'),
  },
  methods: {
    image(loot) {
      return ImageService.getItemIcon(loot);
    },
  },
};
</script>
