<template>
  <div>{{$t('fight.nextturn')}}</div>
</template>

<script>
import FightLogHelper from '@/utils/fight-log-helper';

export default {
  name: 'next-turn-log',
  mixins: [FightLogHelper],
  props: {
    log: { type: Object, required: true },
  },
};
</script>
