<template>
  <div>
    <span v-if="skill.skillEffect == 'DAMAGE'">
      {{entityName(log.entity)}} {{$t('fight.attacked')}}
      {{entityName(log.target)}} {{$t('fight.dealing')}}
      {{log.value}} {{$t('fight.damage')}}
    </span>
    <span v-else-if="skill.skillEffect == 'HEAL'">
      {{entityName(log.entity)}} {{$t('fight.recovered')}}
      {{log.value}} {{$t('fight.health')}}
    </span>
    <span v-if="skill">
      {{$t('fight.using')}} {{$t('adventurer.levelshort')}} {{skill.level}}
      {{$t(`skill.${toLocalString(skill.skillTier)}`)}} {{$t(`skill.${toLocalString(skill.skillEffect)}`)}}
      {{$t(`item.name.${toLocalString(skill.weaponType)}`)}}
    </span>
  </div>
</template>

<script>
import FightLogHelper from '@/utils/fight-log-helper';

export default {
  name: 'attack-log',
  mixins: [FightLogHelper],
  props: {
    log: { type: Object, required: true },
  },
  computed: {
    skill() {
      return this.entitySkill(this.log.entity, this.log.skill);
    },
  },
  methods: {
    toLocalString(str) {
      return str.toLowerCase().replace(/_/g, '');
    },
  },
};
</script>
