<template>
  <div>
    <div class="mt-8">
      <h2 class="text-xl mb-4">{{$t('inventories.equippedarmors')}}</h2>
      <div>
        <div>
          <armour-card v-if="helmet" :item="helmet" class="mb-2"/>
          <button v-if="helmet" class="button button-primary"
            @click="unequip(helmet.itemData.equipmentSlot)">
              {{$t('game.button.unequip')}}
            </button>
          <div v-if="!helmet" class="flex items-center">
            <img :src="getIcon('HELMET')" class="w-20"/>
            <div class="ml-8 flex-1">{{$t('inventories.nohelmet')}}</div>
          </div>
          <hr class="my-4"/>
        </div>

        <div>
          <armour-card v-if="chestplate" :item="chestplate" class="mb-2"/>
          <button v-if="chestplate" class="button button-primary"
            @click="unequip(chestplate.itemData.equipmentSlot)">
              {{$t('game.button.unequip')}}
            </button>
          <div v-if="!chestplate" class="flex items-center">
            <img :src="getIcon('CHEST_PLATE')" class="w-20"/>
            <div class="ml-8 flex-1">{{$t('inventories.nochestplate')}}</div>
          </div>
          <hr class="my-4"/>
        </div>

        <div>
          <armour-card v-if="pants" :item="pants" class="mb-2"/>
          <button v-if="pants" class="button button-primary"
            @click="unequip(pants.itemData.equipmentSlot)">
              {{$t('game.button.unequip')}}
            </button>
          <div v-if="!pants" class="flex items-center">
            <img :src="getIcon('PANTS')" class="w-20"/>
            <div class="ml-8 flex-1">{{$t('inventories.nopants')}}</div>
          </div>
          <hr class="my-4"/>
        </div>

        <div>
          <armour-card v-if="gloves" :item="gloves" class="mb-2"/>
          <button v-if="gloves" class="button button-primary"
            @click="unequip(gloves.itemData.equipmentSlot)">
              {{$t('game.button.unequip')}}
            </button>
          <div v-if="!gloves" class="flex items-center">
            <img :src="getIcon('GLOVES')" class="w-20"/>
            <div class="ml-8 flex-1">{{$t('inventories.nogloves')}}</div>
          </div>
          <hr class="my-4"/>
        </div>

        <div>
          <armour-card v-if="boots" :item="boots" class="mb-2"/>
          <button v-if="boots" class="button button-primary"
            @click="unequip(boots.itemData.equipmentSlot)">
              {{$t('game.button.unequip')}}
            </button>
          <div v-if="!boots" class="flex items-center">
            <img :src="getIcon('BOOTS')" class="w-20"/>
            <div class="ml-8 flex-1">{{$t('inventories.noboots')}}</div>
          </div>
        </div>
      </div>
    </div>
    <Inventory class="mt-8"
      :items="armours" :label="'inventories.label.armours'"
      :offset="pagination.offset" :count="pagination.count" :sort="pagination.sort"
      :sorts="['inventories.sort.level', 'inventories.sort.type']"
      :cellActions="cellActions" @action-equip="equip" @sort-by="paginationSortBy"
      @previous-page="paginationPreviousPage" @next-page="paginationNextPage" />
  </div>
</template>

<script>
import { get } from 'vuex-pathify';
import Inventory from '@/components/game/inventories/Inventory.vue';
import ApiService from '@/services/api.service';
import AdventurerService from '@/services/adventurer.service';
import ArmourCard from '@/components/cards/ArmourCard.vue';
import Pagination from '@/utils/pagination';
import ImageService from '@/services/image.service';

export default {
  name: 'Adventurer',
  components: {
    Inventory,
    ArmourCard,
  },
  mixins: [Pagination],
  data() {
    return {
      selected: -1,
      equipped: [],
      armours: [],
    };
  },
  computed: {
    adventurer: get('player/adventurer'),
    helmet() {
      return this.equippedOfType('HELMET');
    },
    chestplate() {
      return this.equippedOfType('CHEST_PLATE');
    },
    pants() {
      return this.equippedOfType('PANTS');
    },
    gloves() {
      return this.equippedOfType('GLOVES');
    },
    boots() {
      return this.equippedOfType('BOOTS');
    },
    cellActions() {
      return [
        { label: 'game.button.equip', name: 'equip' },
      ];
    },
  },
  methods: {
    getIcon(equipmentSlot) {
      return ImageService.getArmorIcon({ equipmentSlot });
    },
    equippedOfType(type) {
      for (let i = 0; i < this.equipped.length; i += 1) {
        if (this.equipped[i].itemData.equipmentSlot === type) {
          return this.equipped[i];
        }
      }

      return null;
    },
    fetchArmours() {
      AdventurerService.getArmours(
        this.adventurer.key,
        this.pagination.offset,
        this.pagination.count,
        this.pagination.sort,
      ).then((armours) => {
        this.armours = armours;
      });
    },
    fetchEquipped() {
      AdventurerService.getWornArmours(this.adventurer.key)
        .then((weapon) => {
          this.equipped = weapon;
        });
    },
    equip({ key, itemData }) {
      AdventurerService.equip(this.adventurer.key, key, itemData.equipmentSlot)
        .then(() => {
          this.fetchArmours();
          this.fetchEquipped();
        });
    },
    unequip(slot) {
      AdventurerService.unEquip(this.adventurer.key, slot)
        .then(() => {
          this.fetchArmours();
          this.fetchEquipped();
        });
    },
  },
  mounted() {
    this.pagination.callback = () => {
      this.fetchArmours();
    };
    this.fetchEquipped();
    this.fetchArmours();
  },
};
</script>
