<template>
  <div>
    <Inventory class="mt-8"
      :items="resources" :label="'inventories.label.resources'"
      :offset="pagination.offset" :count="pagination.count" :sort="pagination.sort"
      :sorts="['inventories.sort.level', 'inventories.sort.type']"
      @cell-selected="select" @sort-by="paginationSortBy"
      @previous-page="paginationPreviousPage" @next-page="paginationNextPage" />
  </div>
</template>

<script>
import { get } from 'vuex-pathify';
import Inventory from '@/components/game/inventories/Inventory.vue';
import ApiService from '@/services/api.service';
import AdventurerService from '@/services/adventurer.service';
import Pagination from '@/utils/pagination';

export default {
  name: 'Adventurer',
  components: {
    Inventory,
  },
  mixins: [Pagination],
  data() {
    return {
      resources: [],
    };
  },
  computed: {
    adventurer: get('player/adventurer'),
    canShowSelection() {
      return this.selected >= 0 && this.selected < this.resources.length;
    },
    item() {
      return (this.canShowSelection ? this.resources[this.selected] : null);
    },
  },
  methods: {
    fetchResources() {
      AdventurerService.getResources(
        this.adventurer.key,
        this.pagination.offset,
        this.pagination.count,
        this.pagination.sort,
      ).then((resources) => {
        this.resources = resources;
      });
    },
    select(index) {
      this.selected = index;
    },
    sortBy(index) {
      this.sort = index;
      this.fetchResources();
    },
  },
  mounted() {
    this.pagination.callback = this.fetchResources;
    this.fetchResources();
  },
};
</script>
