<template>
  <div>
    <div class="mt-8">
      <h2 class="text-xl mb-4">{{$t('inventories.equippedskills')}}</h2>
      <div>
        <div v-for="(skill, index) in slots" :key="`equipped-skill-${index}`">
          <hr v-if="index > 0" class="my-4"/>
          <div class="text-center mb-2">{{$t('inventories.label.slot')}} {{index + 1}}</div>
          <div v-if="skill">
            <skill-card :skill="skill"/>
            <button class="button button-primary mt-4"
              @click="unEquipSkill(skill.slotIndex)">
              {{$t('game.button.unequip')}}
            </button>
          </div>
          <div v-else class="flex items-center">
            <img :src="getIcon()" class="w-20"/>
            <div class="ml-8 flex-1">{{$t('inventories.noskill')}}</div>
          </div>
        </div>
      </div>
    </div>
    <skill-inventory class="mt-8"
      :skills="skills" :label="'inventories.label.skills'"
      :offset="pagination.offset" :count="pagination.count" :sort="pagination.sort"
      :sorts="['inventories.sort.level', 'inventories.sort.effect', 'inventories.sort.tier', 'inventories.sort.weapontype']"
      @equip="equipDialog" @sort-by="paginationSortBy"
      @previous-page="paginationPreviousPage" @next-page="paginationNextPage" />
      <modal v-if="toEquip" @close="closeEquipDialog">
        <template v-slot:header>Equip Skill</template>
        <template v-slot:body>
          <skill-card :skill="toEquip"/>
          <div class="my-4">Chose a slot to equip the skill.</div>
          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3">
            <div v-for="slotIndex in slots.length" :key="`equip-slot-${slotIndex}`"
              class="p-2">
              <button class="button button-primary w-full" @click="equipSkill(toEquip.key, slotIndex - 1)">
                  {{$t('inventories.label.slot')}} {{slotIndex}}
              </button>
            </div>
            <div class="p-2">
              <button class="button button-secondary w-full" @click="closeEquipDialog">
                  {{$t('game.button.cancel')}}
              </button>
            </div>
          </div>
        </template>
      </modal>
  </div>
</template>

<script>
import { get } from 'vuex-pathify';
import SkillInventory from '@/components/game/inventories/SkillInventory.vue';
import ApiService from '@/services/api.service';
import AdventurerService from '@/services/adventurer.service';
import SkillCard from '@/components/cards/SkillCard.vue';
import Modal from '@/components/utils/Modal.vue';
import Pagination from '@/utils/pagination';
import ImageService from '@/services/image.service';

export default {
  name: 'Adventurer',
  components: {
    SkillInventory,
    SkillCard,
    Modal,
  },
  mixins: [Pagination],
  data() {
    return {
      selected: -1,
      skills: [],
      slots: [null, null, null, null, null],
      toEquip: null,
    };
  },
  computed: {
    adventurer: get('player/adventurer'),
  },
  methods: {
    getIcon() {
      return ImageService.getSkillIcon();
    },
    emptySlots() {
      this.slots = this.slots.map(() => null);
    },
    fetchSkills() {
      AdventurerService.getSkills(
        this.adventurer.key,
        this.pagination.offset,
        this.pagination.count,
        this.pagination.sort,
      ).then((skills) => {
        this.skills = skills;
      });
    },
    fetchEquippedSkills() {
      AdventurerService.getEquippedSkills(this.adventurer.key)
        .then((skills) => {
          this.emptySlots();
          for (let i = 0; i < skills.length; i += 1) {
            this.slots[skills[i].slotIndex] = skills[i];
          }
        });
    },
    equipDialog(index) {
      this.toEquip = this.skills[index];
    },
    closeEquipDialog() {
      this.toEquip = null;
    },
    equipSkill(key, slotIndex) {
      this.closeEquipDialog();
      AdventurerService.equipSkill(this.adventurer.key, key, slotIndex)
        .then(() => {
          this.fetchSkills();
          this.fetchEquippedSkills();
        });
    },
    unEquipSkill(slotIndex) {
      AdventurerService.unEquipSkill(this.adventurer.key, slotIndex)
        .then(() => {
          this.fetchSkills();
          this.fetchEquippedSkills();
        });
    },
  },
  mounted() {
    this.pagination.callback = () => {
      this.fetchSkills();
    };
    this.fetchSkills();
    this.fetchEquippedSkills();
  },
};
</script>
