<template>
  <div>
    <div class="mt-8">
      <h2 class="text-xl mb-4">{{$t('inventories.equippedweapon')}}</h2>
      <WeaponCard v-if="equipped" :item="equipped"/>
      <button v-if="equipped" class="button button-primary mt-4"
        @click="unequip(equipped.itemData.equipmentSlot)">{{$t('game.button.unequip')}}</button>
      <div v-if="!equipped">{{$t('inventories.noweapon')}}</div>
    </div>
    <Inventory class="mt-8"
      :items="weapons" :label="'inventories.label.weapons'"
      :offset="pagination.offset" :count="pagination.count" :sort="pagination.sort"
      :sorts="['inventories.sort.level', 'inventories.sort.type']"
      :cellActions="cellActions" @action-equip="equip"
      @cell-selected="select" @sort-by="paginationSortBy"
      @previous-page="paginationPreviousPage" @next-page="paginationNextPage" />
  </div>
</template>

<script>
import { get } from 'vuex-pathify';
import Inventory from '@/components/game/inventories/Inventory.vue';
import ApiService from '@/services/api.service';
import AdventurerService from '@/services/adventurer.service';
import WeaponCard from '@/components/cards/WeaponCard.vue';
import Pagination from '@/utils/pagination';

export default {
  name: 'Adventurer',
  components: {
    Inventory,
    WeaponCard,
  },
  mixins: [Pagination],
  data() {
    return {
      selected: -1,
      equipped: null,
      weapons: [],
    };
  },
  computed: {
    adventurer: get('player/adventurer'),
    canShowSelection() {
      return this.selected >= 0 && this.selected < this.weapons.length;
    },
    weapon() {
      return this.canShowSelection ? this.weapons[this.selected] : null;
    },
    cellActions() {
      return [
        { label: 'game.button.equip', name: 'equip' },
      ];
    },
  },
  methods: {
    fetchWeapons() {
      AdventurerService.getWeapons(
        this.adventurer.key,
        this.pagination.offset,
        this.pagination.count,
        this.pagination.sort,
      ).then((weapons) => {
        this.weapons = weapons;
      });
    },
    fetchEquipped() {
      AdventurerService.getWornWeapon(this.adventurer.key)
        .then((weapon) => {
          this.equipped = weapon;
        });
    },
    select(index) {
      this.selected = index;
    },
    equip({ key, itemData }) {
      AdventurerService.equip(this.adventurer.key, key, itemData.equipmentSlot)
        .then(() => {
          this.fetchWeapons();
          this.fetchEquipped();
        });
    },
    unequip(slot) {
      AdventurerService.unEquip(this.adventurer.key, slot)
        .then(() => {
          this.fetchWeapons();
          this.fetchEquipped();
        });
    },
  },
  mounted() {
    this.pagination.callback = () => {
      this.fetchWeapons();
    };
    this.fetchEquipped();
    this.fetchWeapons();
  },
};
</script>
