<template>
  <div class="flex items-center">
    <img :src="image" class="w-20">
    <div class="ml-8 flex-1">
      <div>{{$t('adventurer.levelshort')}} {{itemData.level}} <item-name :itemData="itemData"/></div>
      <div class="flex flex-col md:flex-row md:justify-between md:items-center">
        <attribute label="item.health" :value="item.health" />
        <attribute label="item.speed" :value="item.speed" />
        <attribute label="item.defense" :value="item.defense" />
      </div>
    </div>
  </div>
</template>

<script>
import ItemName from '@/components/utils/ItemName.vue';
import ImageService from '../../services/image.service';
import Attribute from '../utils/Attribute.vue';

export default {
  name: 'ArmourCard',
  components: {
    Attribute,
    ItemName,
  },
  props: {
    item: {
      required: true,
      type: Object,
    },
  },
  computed: {
    itemData() {
      return this.item.itemData;
    },
    image() {
      return ImageService.getItemIcon(this.item);
    },
  },
};
</script>
