<template>
    <div>
      <component v-if="component" :is="component" :item="item" :image="image" />
      <slot/>
    </div>
</template>

<script>
import ArmourCard from '@/components/cards/ArmourCard.vue';
import ResourceCard from '@/components/cards/ResourceCard.vue';
import WeaponCard from '@/components/cards/WeaponCard.vue';
import ImageService from '@/services/image.service';

export default {
  name: 'item-card',
  components: {
    ResourceCard,
    WeaponCard,
    ArmourCard,
  },
  props: {
    item: {
      required: true,
      type: Object,
    },
    selected: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    image() {
      return ImageService.getItemIcon(this.item);
    },
    component() {
      switch (this.item.type) {
        case 'RESOURCE':
          return ResourceCard;
        case 'WEAPON':
          return WeaponCard;
        case 'ARMOUR':
          return ArmourCard;
        default:
          return null;
      }
    },
  },
};
</script>
