<template>
  <div v-if="itemData.type === 'RESOURCE_DATA'" class="card">
    <img :src="image" class="card-image" />
    <div class="flex-1">
      <div>
        {{$t('adventurer.levelshort')}} {{itemData.level}}
        <item-name :itemData="itemData" />
      </div>
    </div>
  </div>
  <div v-else-if="itemData.type === 'WEAPON_DATA' || itemData.type === 'ARMOUR_DATA'" class="card">
    <img :src="image" class="card-image" />
    <div class="flex-1 flex flex-col md:flex-row md:items-center">
      <div class="flex-1">
        <div>{{$t('adventurer.levelshort')}} {{itemData.level}}</div>
        <div>
          <item-name :itemData="itemData" />
        </div>
      </div>
      <div class="flex-1">
        <div>{{$t('item.health')}} {{itemData.health.min}}-{{itemData.health.max}}</div>
        <div>{{$t('item.speed')}} {{itemData.speed.min}}-{{itemData.speed.max}}</div>
        <div
          v-if="itemData.type === 'WEAPON_DATA'"
        >{{$t('item.attack')}} {{itemData.attack.min}}-{{itemData.attack.max}}</div>
        <div
          v-else-if="itemData.type === 'ARMOUR_DATA'"
        >{{$t('item.attack')}} {{itemData.defense.min}}-{{itemData.defense.max}}</div>
      </div>
    </div>
  </div>
  <div v-else>{{$t('item.unknowndatatype')}}</div>
</template>

<script>
import ItemName from '@/components/utils/ItemName.vue';
import ImageService from '@/services/image.service';

export default {
  name: 'item-data-card',
  components: { ItemName },
  props: {
    itemData: {
      required: true,
      type: Object,
    },
  },
  computed: {
    image() {
      return ImageService.getItemDataIcon(this.itemData);
    },
  },
};
</script>

<style lang="postcss" scoped>
.card {
  @apply flex items-center;
}

.card-image {
  @apply w-20 mr-4;
}
</style>
