<template>
  <div class="flex items-center">
    <!-- <div class="px-4">{{$t('adventurer.levelshort')}} {{recipe.level}}</div> -->
    <div class="flex-1">
      <!-- <p>Results</p> -->
      <div v-for="(result, index) in recipe.results" :key="index">
        {{$t('adventurer.levelshort')}} {{result.a.level}} <item-name :itemData="result.a"/> <!-- x{{result.b}} -->
      </div>
    </div>
    <button class="button button-primary" @click="$emit('click')">{{$t('game.button.select')}}</button>
  </div>
</template>

<script>
import ItemName from '@/components/utils/ItemName.vue';
import ImageService from '@/services/image.service';

export default {
  name: 'recipe-card',
  components: { ItemName },
  props: {
    recipe: {
      required: true,
      type: Object,
    },
  },
  computed: {
    image() {
      return ImageService.getItemIcon(this.item);
    },
  },
};
</script>
