<template>
  <div class="flex items-center">
    <img :src="image" class="w-20">
    <div class="ml-8 flex-1">
      <div>{{$t('adventurer.levelshort')}} {{itemData.level}} <item-name :itemData="itemData"/></div>
      <attribute label="item.quantity" :value="item.quantity"/>
    </div>
  </div>
</template>

<script>
import ItemName from '@/components/utils/ItemName.vue';
import ImageService from '../../services/image.service';
import Attribute from '../utils/Attribute.vue';

export default {
  components: {
    Attribute, ItemName,
  },
  props: {
    item: {
      required: true,
      type: Object,
    },
  },
  computed: {
    itemData() {
      return this.item.itemData;
    },
    image() {
      return ImageService.getItemIcon(this.item);
    },
  },
};
</script>
