<template>
    <div class="flex flex-row items-center">
        <div class="flex items-center justify-center text-center w-16 h-16 rounded-full bg-blue-500">A</div>
        <div class="flex-1 px-8">
            <div>{{adventurer.name}}</div>
            <div class="text-sm">{{$t('adventurer.levelshort')}} {{adventurer.level}}</div>
        </div>
        <div>
            <button class="button button-primary" @click="play">{{$t('game.button.play')}}</button>
        </div>
    </div>
</template>

<script>
import AdventurerService from '../../services/adventurer.service';

export default {
  name: 'SelectionCard',
  props: {
    adventurer: {
      type: Object,
      required: true,
    },
  },
  methods: {
    play() {
      AdventurerService.storeAdventurerId(this.adventurer.key);
      this.$store.dispatch('player/checkSelectedAdventurer');
    },
  },
};
</script>
