<template>
  <div class="flex items-center">
    <img :src="image" class="w-16" />
    <div class="flex-1 ml-8">
      <div>
        {{$t('adventurer.levelshort')}} {{skill.level}}
        {{$t(`skill.${toLocalString(skill.skillTier)}`)}} {{$t(`skill.${toLocalString(skill.skillEffect)}`)}}
        {{$t(`item.name.${toLocalString(skill.weaponType)}`)}}
      </div>
      <labeled-attribute-bar :value="skill.experience.value" :max="skill.experience.max"
        :label="$t('adventurer.experience')" borderColor="border-green-400" bgColor="bg-green-400"/>
      <div>{{$t(`adventurer.${toLocalString(skill.skillEffect)}`)}} {{skill.value}}</div>
    </div>
  </div>
</template>

<script>
import LabeledAttributeBar from '@/components/utils/LabeledAttributeBar.vue';
import ImageService from '../../services/image.service';

export default {
  name: 'skill-card',
  components: { LabeledAttributeBar },
  props: {
    skill: { type: Object, required: true },
    fight: { type: Boolean, default: false },
  },
  data() {
    return {
      image: ImageService.getSkillIcon(),
    };
  },
  methods: {
    toLocalString(str) {
      return str.toLowerCase().replace(/_/g, '');
    },
  },
};
</script>
