<template>
  <div class="flex items-center">
    <img :src="image" class="w-20">
    <div class="flex-1 ml-8">
      <div>{{$t('adventurer.levelshort')}} {{itemData.level}}</div>
      <item-name :itemData="itemData" />
    </div>
    <div class="flex-1">
      <attribute label="item.health" :value="item.health"/>
      <attribute label="item.speed" :value="item.speed" />
      <attribute label="item.attack" :value="item.attack" />
    </div>
  </div>
</template>

<script>
import ItemName from '@/components/utils/ItemName.vue';
import ImageService from '../../services/image.service';
import Attribute from '../utils/Attribute.vue';
import LabeledAttributeBar from '../utils/LabeledAttributeBar.vue';

export default {
  components: {
    Attribute,
    ItemName,
  },
  props: {
    item: {
      required: true,
      type: Object,
    },
  },
  computed: {
    itemData() {
      return this.item.itemData;
    },
    image() {
      return ImageService.getItemIcon(this.item);
    },
  },
};
</script>
