@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  @apply font-light text-twhite bg-gray-700;
}

.input {
  @apply outline-none rounded-sm bg-white;
  @apply px-2 py-1 font-light text-tblack;
}

.input-error {
  @apply border border-red-500;
}

.button {
  @apply input border-2 border-blue-500 text-blue-500 rounded-sm px-4;
  @apply uppercase tracking-widest whitespace-no-wrap;
}
.button:hover {
  @apply outline-none border-blue-600;
}
.button:focus {
  @apply outline-none;
}
.button:disabled {
  @apply opacity-25 cursor-not-allowed;
}

.button-primary {
  @apply bg-blue-500 border-none text-twhite;
}

.button-primary:hover {
  @apply bg-blue-600 text-twhite;
}

.button-secondary {
  @apply bg-transparent border border-blue-500 text-blue-500;
}

.button-secondary:hover {
  @apply bg-blue-600 text-twhite;
}

.button-link {
  @apply bg-transparent border-none text-blue-500 px-0;
}

.button-link:hover {
  @apply text-blue-600;
}
