<template>
    <div>
      <div class="flex items-center my-8">
        <div class="rounded-full bg-blue-500 w-24 h-24 flex items-center justify-center text-center text-4xl text-white">{{$t('adventurer.letter')}}</div>
        <div class="flex-1 px-8">
          <h2 class="text-xl">{{adventurer.name}}</h2>
          <p class="">{{$t('adventurer.levelshort')}} {{adventurer.level}}</p>
          <labeled-attribute-bar class="flex-1" :value="adventurer.experience.value" :max="adventurer.experience.max"
              :label="$t('adventurer.experience')" borderColor="border-green-400" bgColor="bg-green-400"/>
        </div>
      </div>
      <div>
        <h3 class="text-xl my-8">{{$t('adventurer.attributes')}}</h3>
        <div class="flex items-center">
          <div>
            <div class="mb-2">{{$t('adventurer.health')}}</div>
          </div>
          <div class="flex-1 ml-8">
            <attribute-bar class="mb-2" :value="adventurer.health.value" :max="adventurer.health.max"
              borderColor="border-red-500" bgColor="bg-red-500"/>
          </div>
        </div>
        <div class="flex justify-between mb-2">
          <p>{{$t('adventurer.speed')}} {{adventurer.speed}}</p>
          <p>{{$t('adventurer.attack')}} {{adventurer.attack}}</p>
          <p>{{$t('adventurer.defense')}} {{adventurer.defense}}</p>
        </div>
      </div>
      <div class="my-8">
        <h3 class="text-xl mb-4">{{$t('adventurer.proficiencies')}}</h3>
        <div class="grid grid-cols-2 lg:grid-cols-4">
          <div v-for="proficiency in proficiencies" :key="proficiency.weaponType" class="flex items-center">
            <div class="w-2/5">{{$t(`item.name.${proficiency.weaponType.toLowerCase()}`)}}</div>
            <div>{{proficiency.value.toFixed(3)}}</div>
          </div>
        </div>
      </div>
      <div class="my-8">
        <h3 class="text-xl mb-2">{{$t('adventurer.actions')}}</h3>
        <div class="grid grid-cols-1 md:grid-cols-3">
          <div class="py-2 md:px-2">
            <button class="button button-primary w-full" @click="toggleReincarnationModal(true)">
              {{$t('game.button.reincarnate')}}
            </button>
          </div>
          <div class="py-2 md:px-2">
            <button class="button button-primary w-full truncate" @click="switchAdventurer">
              {{$t('game.button.switchadventurer')}}
            </button>
          </div>
          <div class="py-2 md:px-2">
            <button class="button button-primary w-full" @click="logout">
              {{$t('button.logout')}}
            </button>
          </div>
        </div>
      </div>
      <div v-if="reincarnationModal">
        <modal @close="toggleReincarnationModal(false)">
          <template v-slot:header>{{$t('adventurer.reincarnation')}}</template>
          <template v-slot:body>
            <h2 class="text-xl">{{$t('adventurer.reincarnationtext1')}}</h2>
            <p>{{$t('adventurer.reincarnationtext2')}}</p>
            <div class="mt-8 flex justify-between items-center">
              <button class="button button-secondary" @click="toggleReincarnationModal(false)">{{$t('game.button.cancel')}}</button>
              <button class="button button-primary" :disabled="reincarnating" @click="reincarnate">{{$t('game.button.reincarnate')}}</button>
            </div>
          </template>
        </modal>
      </div>
    </div>
</template>

<script>
import { get } from 'vuex-pathify';
import LabeledAttributeBar from '@/components/utils/LabeledAttributeBar.vue';
import AttributeBar from '@/components/utils/AttributeBar.vue';
import ApiService from '@/services/api.service';
import AdventurerService from '@/services/adventurer.service';
import Modal from '@/components/utils/Modal.vue';

export default {
  name: 'Adventurer',
  components: {
    LabeledAttributeBar,
    AttributeBar,
    Modal,
  },
  data() {
    return {
      reincarnating: false,
      reincarnationModal: false,
      proficiencies: [],
    };
  },
  computed: {
    adventurer: get('player/adventurer'),
  },
  methods: {
    toggleReincarnationModal(show) {
      this.reincarnationModal = show;
    },
    reincarnate() {
      this.reincarnating = true;
      AdventurerService.createRealm(this.adventurer.key)
        .then(() => {
          this.$router.go();
        });
    },
    switchAdventurer() {
      this.$store.dispatch('player/clearSelectedAdventurer');
    },
    logout() {
      this.$router.push('/logout');
    },
    fetch() {
      this.$store.dispatch('player/checkSelectedAdventurer');
      AdventurerService.getWeaponProficiencies(AdventurerService.getAdventurerId())
        .then((proficiencies) => {
          this.proficiencies = proficiencies;
        });
    },
  },
  mounted() {
    this.fetch();
  },
};
</script>
