<template>
  <div>
    <div v-if="!loading" class="flex flex-col items-center">
      <div v-for="adventurer in adventurers" :key="adventurer.key" class="w-full my-4">
        <SelectionCard class="w-full" :adventurer="adventurer" />
        <!-- <hr class="bg-twhite my-4"/> -->
      </div>
    </div>
    <div class="flex flex-col items-center my-8">
      <h2 class="text-xl w-full md:w-1/2 mb-2 align-left">
        {{$t('adventurer.startadventure')}}
      </h2>

      <p :class="`text-red-500 text-sm mb-1 ${hasError(ERRORS.NAME) ? '' : 'opacity-0'}`">
        {{$t('adventurer.error.name')}}
      </p>
      <input :class="`w-full md:w-1/2 mb-4 input ${hasError(ERRORS.NAME) ? 'input-error' : ''}`"
        type="text" v-model="name" :placeholder="$t('adventurer.placeholder.name')">

      <p :class="`text-red-500 text-sm mb-1 ${hasError(ERRORS.CREATION) ? '' : 'opacity-0'}`">
        {{$t('adventurer.error.creation')}}
      </p>
      <button class="button button-primary" :disabled="creating" @click="create">{{$t('game.button.create')}}</button>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import { get } from 'vuex-pathify';
import SelectionCard from '@/components/cards/SelectionCard.vue';
import AdventurerService from '../../services/adventurer.service';

const ERRORS = {
  NAME: 0,
  CREATION: 1,
};

export default {
  name: 'adventurer-selection',
  components: { SelectionCard },
  data() {
    return {
      adventurers: [],
      name: '',
      loading: false,
      creating: false,
      errors: [false, false],
    };
  },
  computed: {
    userId: get('user/user@id'),
    ERRORS: () => ERRORS,
  },
  methods: {
    hasError(id = -1) {
      return id >= 0 ? this.errors[id]
        : this.errors.reduce((acc, val) => acc || val);
    },
    setError(id, error = true) {
      Vue.set(this.errors, id, error);
    },
    clearErrors() {
      this.errors = this.errors.map(() => false);
    },
    fetchAdventurers() {
      this.loading = true;
      AdventurerService.fetchAdventurersOf(this.userId)
        .then((adventurers) => {
          this.adventurers = adventurers;
          this.loading = false;
        });
    },
    create() {
      this.clearErrors();

      if (this.name === '') {
        this.setError(ERRORS.NAME);
      }

      if (!this.hasError()) {
        this.creating = true;
        AdventurerService.create(this.name)
          .then((adventurer) => {
            if (adventurer) {
              this.adventurers = [...this.adventurers, adventurer];
            } else {
              this.setError(ERRORS.CREATION);
            }
            this.creating = false;
          });
      }
    },
  },
  mounted() {
    this.fetchAdventurers();
  },
};
</script>
