<template>
  <div>
    <secondary-window @close="$emit('close')">
      <template v-slot:header>{{$t('area.gathering.title')}}</template>
      <template v-slot:body>
        <div v-if="areaLoadingFailed">{{$t('area.gathering.arealoadingfailed')}}</div>
        <div v-else-if="!area">{{$t('game.loading')}}</div>
        <div v-else>
          <div v-if="area.loots.length > 0">
            <h2 class="text-xl my-8">{{$t('area.gathering.loots')}}</h2>
            <div v-for="(loot, index) in area.loots" :key="`loot-${index}`">
              <hr v-if="index > 0" class="border-twhite my-4" />
              <div class="flex items-center">
                <item-data-card :itemData="loot.a" class="flex-1 mr-4" />
                <div v-if="loot.b.min == loot.b.max">{{loot.b.min}}</div>
                <div v-else>{{loot.b.min}} - {{loot.b.max}}</div>
              </div>
            </div>
            <div class="flex justify-center my-8">
            <button
              class="button button-primary"
              @click="startGathering"
              :disabled="gathering || loadRewards"
            >{{gathering ? `${duration / 1000} seconds` : 'GATHER'}}</button>
          </div>
          </div>
          <div v-else>{{$t('area.gathering.noloots')}}</div>
          <div v-if="rewards.length > 0">
            <h2 class="text-xl my-8">{{$t('area.gathering.success')}}</h2>
            <div v-for="(reward, index) in rewards" :key="`reward-${index}`">
              <hr v-if="index > 0" class="border-twhite my-4" />
              <div class="flex items-center">
                <item-data-card :itemData="reward.itemData" class="flex-1 mr-4" />
                <div>{{reward.quantity}}</div>
              </div>
            </div>
          </div>
        </div>
      </template>
    </secondary-window>
  </div>
</template>

<script>
import Modal from '@/components/utils/Modal.vue';
import SecondaryWindow from '@/components/utils/SecondaryWindow.vue';
import AdventurerService from '@/services/adventurer.service';
import ItemDataCard from '@/components/cards/ItemDataCard.vue';

export default {
  name: 'game-gathering',
  components: { SecondaryWindow, ItemDataCard },
  data() {
    return {
      areaLoadingFailed: false,
      area: null,
      duration: 0,
      gathering: false,
      loadRewards: false,
      interval: 100,
      rewards: [],
    };
  },
  methods: {
    startGathering() {
      this.rewards = [];
      this.gathering = true;
      this.duration = this.area.duration * 1000;
    },
    tick() {
      if (this.gathering) {
        if (this.duration > 0) {
          this.duration -= this.interval;
        } else {
          this.gather();
        }
      }
    },
    gather() {
      this.loadRewards = true;
      this.gathering = false;
      AdventurerService.gather(AdventurerService.getAdventurerId()).then(
        (rewards) => {
          this.rewards = rewards;
          this.loadRewards = false;
        },
      );
    },
  },
  mounted() {
    AdventurerService.gatheringArea(AdventurerService.getAdventurerId()).then(
      (area) => {
        if (area) {
          this.area = area;
          setInterval(() => this.tick(), this.interval);
        } else {
          this.areaLoadingFailed = true;
        }
      },
    );
  },
};
</script>
