<template>
  <div>
    <secondary-window @close="$emit('close')">
      <template v-slot:header>{{$t('area.loottreasure.title')}}</template>
      <template v-slot:body>
        <div v-if="areaLoadingFailed">{{$t('area.loottreasure.arealoadingfailed')}}</div>
        <div v-if="!area">{{$t('game.loading')}}</div>
        <div v-else>
          <div v-if="area.opened">
            <h2 class="text-xl my-8">{{$t('area.loottreasure.alreadyopened')}}</h2>
            <div v-if="area.loots.length === 0">{{$t('area.loottreasure.alreadyopenedempty')}}</div>
            <div v-else>
              <div v-for="(loot, index) in area.loots" :key="`loot-${index}`">
                <hr v-if="index > 0" class="border-twhite my-4" />
                <div class="flex items-center">
                  <item-data-card :itemData="loot.a" class="flex-1 mr-4" />
                  <div>{{loot.b}}</div>
                </div>
              </div>
            </div>
          </div>
          <div v-else>
            <h2 class="text-xl my-8">{{$t('area.loottreasure.opened')}}</h2>
            <div v-if="rewards.length === 0">{{$t('area.loottreasure.emptychest')}}</div>
            <div v-else>
              <div v-for="(reward, index) in rewards" :key="`reward-${index}`">
                <hr v-if="index > 0" class="border-twhite my-4" />
                <div class="flex items-center">
                  <item-card :item="reward" class="flex-1 mr-4" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </template>
    </secondary-window>
  </div>
</template>

<script>
import Modal from '@/components/utils/Modal.vue';
import SecondaryWindow from '@/components/utils/SecondaryWindow.vue';
import AdventurerService from '@/services/adventurer.service';
import ItemDataCard from '@/components/cards/ItemDataCard.vue';
import ItemCard from '@/components/cards/ItemCard.vue';

export default {
  name: 'game-treasure',
  components: { SecondaryWindow, ItemDataCard, ItemCard },
  data() {
    return {
      areaLoadingFailed: false,
      area: null,
      opening: false,
      rewards: [],
    };
  },
  methods: {
    open() {
      this.opening = true;
      AdventurerService.openLootTreasure(AdventurerService.getAdventurerId()).then(
        (rewards) => {
          this.rewards = rewards;
          this.opening = false;
        },
      );
    },
  },
  mounted() {
    AdventurerService.lootTreasureArea(AdventurerService.getAdventurerId()).then(
      (area) => {
        if (area) {
          this.area = area;
          if (!area.opened) {
            this.open();
          }
        } else {
          this.areaLoadingFailed = true;
        }
      },
    );
  },
};
</script>
