<template>
  <div v-if="!window && mapFetched && !teleporting">
    <div v-if="area" class="mb-8 flex flex-col md:flex-row items-center">
      <div class="flex-1 flex items-center">
        <img :src="areaImage(area)" class="w-16" />
        <h2 v-if="area.type == 'TELEPORTATION_AREA'" class="flex-1 text-xl ml-8">
          {{$t('adventurer.levelshort')}} {{region.level}}
          {{$t(`area.teleportation.${area.direction.toLowerCase()}`)}} {{areaName(area)}}
        </h2>
        <h2
          v-else
          class="flex-1 text-xl ml-8"
        >{{$t('adventurer.levelshort')}} {{region.level}} {{areaName(area)}}</h2>
      </div>
      <div>
        <button
          v-if="area.type === 'MONSTER_SPAWNER_AREA'"
          class="button button-primary"
          @click="monsterAreaFight"
        >{{areaActionName(area)}}</button>
        <div v-if="area.type === 'MONSTER_BOSS_AREA'">
          <button v-if="!area.defeated" class="button button-primary" @click="monsterAreaFight">
            {{areaActionName(area)}}
          </button>
          <button v-else class="button button-secondary" disabled="disabled">{{$t('area.boss.noaction')}}</button>
        </div>
        <div v-if="area.type === 'TELEPORTATION_AREA'">
          <button
            v-if="area.opened"
            class="button button-primary"
            @click="teleport"
          >{{areaActionName(area)}}</button>
          <button v-else class="button button-secondary" disabled="disabled">{{$t('area.teleportation.noaction')}}</button>
        </div>
        <button
          v-if="area.type === 'CRAFTING_AREA'"
          class="button button-primary"
          @click="showWindow('crafting')"
        >{{areaActionName(area)}}</button>
        <button
          v-if="area.type === 'GATHERING_AREA'"
          class="button button-primary"
          @click="showWindow('gathering')"
        >{{areaActionName(area)}}</button>
        <button
          v-if="area.type === 'LOOT_TREASURE_AREA'"
          class="button button-primary"
          @click="showWindow('loot-treasure')"
        >{{areaActionName(area)}}</button>
        <button
          v-if="area.type === 'SKILL_TREASURE_AREA'"
          class="button button-primary"
          @click="showWindow('skill-treasure')"
        >{{areaActionName(area)}}</button>
        <button
          v-if="area.type === 'CULTIVATION_AREA'"
          class="button button-primary"
          @click="$store.dispatch('player/startIdleAction', { actionState: 'CULTIVATION' })"
        >{{areaActionName(area)}}</button>
        <button
          v-if="area.type === 'SPAWN_AREA'"
          class="button button-primary"
          @click="$store.dispatch('player/startIdleAction', { actionState: 'SPAWN_RECOVERY' })"
        >{{areaActionName(area)}}</button>
        <button
          v-if="area.type === 'TRAINING_AREA'"
          class="button button-primary"
          @click="showModal('training-selection')"
        >{{areaActionName(area)}}</button>
        <button
          v-if="area.type === 'SKILL_PRACTICE_AREA'"
          class="button button-primary"
          @click="showModal('skill-practice-selection')"
        >{{areaActionName(area)}}</button>
      </div>
    </div>
    <div v-if="region && regions" class="mb-4">
      <h3 class="text-center">{{$t('game.realm')}}</h3>
      <realm-map-p5 :region="region" :regions="regions" :radius="realmMapRadius"/>
    </div>
    <div class="mb-4" v-if="mapFetched && area">
      <h3 class="text-center mb-2">{{$t('game.region')}}</h3>
      <MapP5
        :region="region"
        :areas="areas"
        :edges="edges"
        :location="area.position"
        @selection-changed="selectionChanged"
      />
    </div>
    <component v-if="modal" :is="modal" @close="modal = null"/>
    <!-- <h3 v-if="selection" class="text-xl mb-4">Selected Area</h3>
    <div v-if="selection" class="flex items-center mb-4">
      <img :src="areaImage(selection.area)" class="w-10"/>
      <h3 class="flex-1 px-4">{{$t('adventurer.levelshort')}} {{region.level}} {{areaName(selection.area)}}</h3>
      <button v-if="selection.connected" class="button button-primary" @click="travel(selection.area.key)">
        {{$t('game.button.travel')}}
      </button>
    </div>-->
  </div>
  <div v-else-if="window" :is="window" @close="closeWindow" />
  <div v-else class="text-center text-xl">{{$t('game.loading')}}</div>
</template>

<script>
import { get, sync, call } from 'vuex-pathify';
import AdventurerService from '@/services/adventurer.service';
import ApiService from '@/services/api.service';
import MapP5 from '@/components/MapP5.vue';
import RealmMapP5 from '@/components/RealmMapP5.vue';
import Crafting from '@/components/game/crafting/Crafting.vue';
import Gathering from '@/components/game/Gathering.vue';
import LootTreasure from '@/components/game/LootTreasure.vue';
import SkillTreasure from '@/components/game/SkillTreasure.vue';
import TrainingSelection from '@/components/game/training/TrainingSelection.vue';
import SkillPracticeSelection from '@/components/game/SkillPracticeSelection.vue';
import ImageService from '../../services/image.service';

const AREA_LOCALS = {
  SPAWN_AREA: 'spawn',
  TRAINING_AREA: 'training',
  SKILL_PRACTICE_AREA: 'skillpractice',
  CULTIVATION_AREA: 'cultivation',
  CRAFTING_AREA: 'crafting',
  GATHERING_AREA: 'gathering',
  SKILL_TREASURE_AREA: 'skilltreasure',
  LOOT_TREASURE_AREA: 'loottreasure',
  TELEPORTATION_AREA: 'teleportation',
  MONSTER_SPAWNER_AREA: 'spawner',
  MONSTER_BOSS_AREA: 'boss',
  DEFAULT: 'area',
};

export default {
  name: 'realm',
  components: {
    MapP5,
    RealmMapP5,
    Crafting,
    Gathering,
    LootTreasure,
    SkillTreasure,
    TrainingSelection,
    SkillPracticeSelection,
  },
  data() {
    return {
      selection: null,
      window: null,
      modal: null,
      traveling: false,
      teleporting: false,
      realmMapRadius: 2,
    };
  },
  computed: {
    adventurer: get('player/adventurer'),
    mapFetched: get('map/fetched'),
    region: get('map/region'),
    regions: get('map/regions'),
    area: sync('map/area'),
    areas: get('map/areas'),
    edges: get('map/edges'),
  },
  methods: {
    fetch: call('map/fetchRegionMap'),
    fetchArea: call('map/fetchArea'),
    fetchRealmMap: call('map/fetchRealmMap'),
    areaImage({ type }) {
      return ImageService.getAreaIcon(type);
    },
    areaName({ type }) {
      return this.$t(`area.${this.areaLocal(type)}.name`);
    },
    areaActionName({ type }) {
      return this.$t(`area.${this.areaLocal(type)}.action`);
    },
    areaLocal(type) {
      return AREA_LOCALS[type] || AREA_LOCALS.DEFAULT;
    },
    async travel(dest) {
      this.traveling = true;
      return AdventurerService.travel(AdventurerService.getAdventurerId(), dest)
        .then((result) => {
          if (result) {
            this.area = result;
          }
        })
        .finally(() => {
          this.traveling = false;
        });
    },
    monsterAreaFight() {
      AdventurerService.startMonsterAreaFight(
        AdventurerService.getAdventurerId(),
      ).then((fight) => {
        if (fight) {
          this.$store.dispatch('player/refreshAction');
        }
      });
    },
    teleport() {
      this.teleporting = true;
      AdventurerService.teleport(AdventurerService.getAdventurerId()).then(
        () => {
          this.fetch();
          this.fetchRealmMap(this.realmMapRadius);
          this.teleporting = false;
        },
      );
    },
    showWindow(name) {
      this.window = name;
    },
    closeWindow() {
      this.window = null;
    },
    showModal(name) {
      this.modal = name;
    },
    closeModal() {
      this.modal = null;
    },
    selectionChanged(area) {
      if (area && !this.traveling) {
        this.travel(area.key);
      }
    },
  },
  mounted() {
    this.fetch();
    this.fetchRealmMap(this.realmMapRadius);
  },
};
</script>
