<template>
  <modal @close="$emit('close')">
    <template v-slot:header>{{$t('area.skillpractice.selection')}}</template>
    <template v-slot:body>
      <div v-if="loading">{{$t('game.loading')}}</div>
      <div v-else>
        <div v-for="(skill, index) in skills" :key="`skill-selection-${index}`">
          <hr v-if="index > 0" class="border-twithe my-4"/>
          <div class="flex flex-col md:flex-row md:items-center">
            <skill-card :skill="skill" class="flex-1 md:pr-4"/>
            <button class="button button-primary mt-2 md:mt-0"
              @click="$store.dispatch('player/startIdleAction', { actionState: 'SKILL_PRACTICE', data: skill.slotIndex })">
              {{$t('game.button.select')}}
            </button>
          </div>
        </div>
      </div>
    </template>
  </modal>
</template>

<script>
import Modal from '@/components/utils/Modal.vue';
import SkillCard from '@/components/cards/SkillCard.vue';
import AdventurerService from '../../services/adventurer.service';

export default {
  name: 'trianing-selection',
  components: {
    Modal, SkillCard,
  },
  data() {
    return {
      skills: [],
      loading: true,
    };
  },
  mounted() {
    AdventurerService.getEquippedSkills(AdventurerService.getAdventurerId())
      .then((skills) => {
        this.skills = skills;
      }).finally(() => {
        this.loading = false;
      });
  },
};
</script>
