<template>
  <div>
    <secondary-window @close="$emit('close')">
      <template v-slot:header>{{$t('area.skilltreasure.title')}}</template>
      <template v-slot:body>
        <div v-if="areaLoadingFailed">{{$t('area.skilltreasure.arealoadingfailed')}}</div>
        <div v-if="!area">{{$t('game.loading')}}</div>
        <div v-else>
          <div v-if="area.opened">
            <h2 class="text-xl my-8">{{$t('area.skilltreasure.alreadyopened')}}</h2>
            <div v-if="!area.skill">{{$t('area.skilltreasure.alreadyopenedempty')}}</div>
            <div v-else>
              <skill-card :skill="area.skill" />
            </div>
          </div>
          <div v-else>
            <h2 class="text-xl my-8">{{$t('area.skilltreasure.opened')}}</h2>
            <div v-if="!rewards">{{$t('area.skilltreasure.emptychest')}}</div>
            <div v-else>
              <skill-card :skill="area.skill" />
            </div>
          </div>
        </div>
      </template>
    </secondary-window>
  </div>
</template>

<script>
import Modal from '@/components/utils/Modal.vue';
import SecondaryWindow from '@/components/utils/SecondaryWindow.vue';
import SkillCard from '@/components/cards/SkillCard.vue';
import AdventurerService from '@/services/adventurer.service';

export default {
  name: 'game-skilltreasure',
  components: { SecondaryWindow, SkillCard },
  data() {
    return {
      areaLoadingFailed: false,
      area: null,
      opening: false,
      rewards: [],
    };
  },
  methods: {
    open() {
      this.opening = true;
      AdventurerService.openSkillTreasure(AdventurerService.getAdventurerId()).then(
        (rewards) => {
          this.rewards = rewards;
          this.opening = false;
        },
      );
    },
  },
  mounted() {
    AdventurerService.skillTreasureArea(AdventurerService.getAdventurerId()).then(
      (area) => {
        if (area) {
          this.area = area;
          if (!area.opened) {
            this.open();
          }
        } else {
          this.areaLoadingFailed = true;
        }
      },
    );
  },
};
</script>
