<template>
  <div>
    <div class="flex items-center">
      <h1 class="text-2xl flex-1">{{$t('area.spawn.title')}}</h1>
      <div v-if="!loading">
        <button v-if="!stopped" class="button button-secondary"
          :disabled="refreshing || stopping" @click="refresh">{{$t('game.button.refresh')}}</button>
        <button v-else class="button button-secondary"
          @click="$store.dispatch('player/refreshAction')">{{$t('game.button.close')}}</button>
      </div>
    </div>
    <div v-if="loading">{{$t('game.loading')}}</div>
    <div v-else-if="action">
      <div class="flex flex-col justify-center items-center">
        <img :src="image" class="h-64"/>
        <h2 class="mt-4 text-lg">
          {{$t('adventurer.levelshort')}} {{action.area.region.level}} {{$t('area.spawn.name')}}
        </h2>
        <div>
          {{$t('game.duration.title')}}
          {{hms.h}} {{$t('game.duration.hour')}}
          {{hms.m}} {{$t('game.duration.minute')}}
          {{hms.s}} {{$t('game.duration.second')}}
        </div>
        <button v-if="!stopped" class="button button-primary mt-4"
          :disabled="loading || refreshing || stopping" @click="stop">
          {{$t('game.button.stop')}}
        </button>
        <div v-else>
          {{$t('area.spawn.reward')}} {{action.reward.health}}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { get, call } from 'vuex-pathify';
import ImageService from '../../services/image.service';
import AdventurerService from '../../services/adventurer.service';

export default {
  name: 'spawn-recovery',
  data() {
    return {
      loading: true,
      refreshing: false,
      stopping: false,
      hms: { h: 0, m: 0, s: 0 },
    };
  },
  computed: {
    action: get('player/action'),
    stopped() {
      return this.action.reward;
    },
    image() {
      return ImageService.getActionIcon(this.action.actionState);
    },
  },
  methods: {
    stop() {
      this.stopping = true;
      this.$store.dispatch('player/stopIdleAction')
        .then(() => {
          this.stopping = false;
        });
    },
    fetchAction() {
      return this.$store.dispatch('player/fetchAction')
        .then(() => { this.calculateHMS(); });
    },
    refresh() {
      this.refreshing = true;
      this.$store.dispatch('player/fetchActionState').then(() => {
        this.fetchAction().finally(() => {
          this.refreshing = false;
        });
      });
    },
    calculateHMS() {
      let duration = this.action.duration;
      let h = 0;
      let m = 0;
      while (duration >= 60) {
        if (duration >= 3600) {
          duration -= 3600;
          h += 1;
        } else if (duration >= 60) {
          duration -= 60;
          m += 1;
        }
      }
      this.hms = { h, m, s: duration };
    },
    bumpDuration() {
      if (this.action && !this.stopped) {
        this.action.duration += 1;
        this.calculateHMS();
      }
    },
  },
  mounted() {
    this.loading = true;
    this.fetchAction().then(() => {
      setInterval(() => { this.bumpDuration(); }, 1000);
      this.loading = false;
    });
  },
};
</script>
