<template>
  <div v-if="adventurer">
    <div v-if="actionState == 'FIGHT'" class="main">
      <fight class="w-full p-4 md:w-3/4 md:px-0"/>
    </div>
    <div v-else-if="actionState == 'CULTIVATION'" class="main">
      <cultivation class="w-full p-4 md:w-3/4 md:px-0"/>
    </div>
    <div v-else-if="actionState == 'TRAINING'" class="main">
      <training class="w-full p-4 md:w-3/4 md:px-0"/>
    </div>
    <div v-else-if="actionState == 'SKILL_PRACTICE'" class="main">
      <skill-practice class="w-full p-4 md:w-3/4 md:px-0"/>
    </div>
    <div v-else-if="actionState == 'SPAWN_RECOVERY'" class="main">
      <spawn-recovery class="w-full p-4 md:w-3/4 md:px-0"/>
    </div>
    <div v-else-if="actionState == 'SPAWN_RECOVERY'" class="main">
      <spawn-recovery class="w-full p-4 md:w-3/4 md:px-0"/>
    </div>
    <div v-else-if="actionState == 'DEAD'" class="flex flex-col items-center">
      <img :src="deadImage" class="w-32 mt-32"/>
      <h1 class="text-2xl text-center mb-32">{{$t('adventurer.dead.text')}}</h1>
      <button class="button button-primary" @click="createRealm">{{$t('game.button.reincarnate')}}</button>
    </div>
    <div v-else-if="actionState == 'IDLE'">
      <div class="main">
        <component :is="menuItem.component" class="w-full p-4 md:w-3/4 md:px-0"/>
      </div>
        <game-menu :items="menuItems" :itemIndex="menuItemIndex" @click="menuClicked" class="menu" />
    </div>
    <div v-else-if="actionState == 'NO_REALM'" class="flex flex-col items-center">
      <h1 class="text-2xl text-center mt-32">{{$t('adventurer.norealm.text1')}}</h1>
      <p>{{$t('adventurer.norealm.text2')}}</p>
      <button class="button button-primary mt-32" @click="createRealm">{{$t('game.button.reincarnate')}}</button>
    </div>
    <div v-else>
      <h1 class="text-2xl text-center">{{$t('game.loading')}}</h1>
    </div>
  </div>
  <div v-else class="flex flex-col items-center">
    <div class="w-full p-4 md:w-3/4 md:px-0">
      <div class="flex items-center md:-mx-16">
        <h1 class="text-2xl flex-1">{{$t('game.name')}}</h1>
        <button class="button button-link" @click="$router.push('/logout')">{{$t('button.logout')}}</button>
      </div>
      <h2 class="text-xl mt-8">{{$t('game.adventurerselectiontitle')}}</h2>
      <adventurer-selection/>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import { get } from 'vuex-pathify';
import store from '@/store';
import AuthService from '@/services/auth.service';
import ImageService from '@/services/image.service';
import GameMenu from '@/components/menus/GameMenu.vue';
import Adventurer from '@/components/game/Adventurer.vue';
import AdventurerSelection from '@/components/game/AdventurerSelection.vue';
import Fight from '@/components/game/fighting/Fight.vue';
import Cultivation from '@/components/game/Cultivation.vue';
import Training from '@/components/game/training/Training.vue';
import SkillPractice from '@/components/game/SkillPractice.vue';
import SpawnRecovery from '@/components/game/SpawnRecovery.vue';
import AdventurerService from '../services/adventurer.service';

export default {
  name: 'game',
  components: {
    AdventurerSelection,
    GameMenu,
    Adventurer,
    Fight,
    Cultivation,
    Training,
    SkillPractice,
    SpawnRecovery,
  },
  data() {
    return {
      menuItemIndex: 0,
      menuItems: [
        {
          image: ImageService.getMenuIcon('adventurer'),
          text: 'game.menu.adventurer',
          component: Adventurer,
        },
        {
          image: ImageService.getMenuIcon('realm'),
          text: 'game.menu.realm',
          component: () => import('@/components/game/Realm.vue'),
        },
        {
          image: ImageService.getMenuIcon('inventories'),
          text: 'game.menu.inventories',
          component: () => import('@/components/game/inventories/Inventories.vue'),
        },
      ],
    };
  },
  computed: {
    adventurer: get('player/adventurer'),
    actionState: get('player/actionState'),
    menuItem() {
      return this.menuItems[this.menuItemIndex];
    },
    deadImage() {
      return ImageService.getDeadIcon();
    },
  },
  methods: {
    menuClicked(index) {
      this.menuItemIndex = index;
    },
    createRealm() {
      AdventurerService.createRealm(AdventurerService.getAdventurerId())
        .then(() => {
          this.$store.dispatch('player/refreshAction');
        });
    },
  },
  async beforeRouteEnter(to, from, next) {
    store.dispatch('player/checkSelectedAdventurer').then(() => {
      next();
    });
  },
};
</script>

<style lang="postcss" scoped>
.main {
  @apply overflow-auto flex justify-center mb-20;
  bottom: 5rem;
}

.menu {
  @apply fixed bottom-0 left-0 right-0 h-20;
}
</style>
