<template>
    <div class="w-full h-full flex flex-col items-center px-8">
        <h1 class="text-2xl my-16">{{$t('game.name')}}</h1>
        <h2 class="text-xl">{{$t('form.logintitle')}}</h2>
        <p :class="`text-red-500 text-sm mb-1 ${hasError(ERRORS.USERNAME) ? '' : 'opacity-0'}`">
          {{ $t('form.error.username') }}
        </p>
        <input :class="`w-full md:w-1/2 input mb-4 ${hasError(ERRORS.USERNAME) ? 'input-error' : ''}`"
          type="text" v-model="username" :placeholder="$t('form.placeholder.username')">

        <p :class="`text-red-500 text-sm mb-1 ${hasError(ERRORS.PASSWORD) ? '' : 'opacity-0'}`">
          {{ $t('form.error.username') }}
        </p>
        <input :class="`w-full md:w-1/2 input mb-4 ${hasError(ERRORS.PASSWORD) ? 'input-error' : ''}`"
          type="password" v-model="password" :placeholder="$t('form.placeholder.password')">

        <p :class="`text-red-500 text-sm mb-4 ${hasError(ERRORS.LOGIN) ? '' : 'opacity-0'}`">
          {{ $t('form.error.login') }}
        </p>
        <button class="button button-primary mb-8" :disabled="sending" @click="login">{{ $t('form.button.signin') }}</button>

        <p class="text-teal-1">
            {{ $t('form.noaccount') }}
            <router-link to="/register">
                <u>{{ $t('form.noaccountlink') }}</u>
            </router-link>
        </p>
    </div>
</template>

<script>
import Vue from 'vue';
import mapSetters from 'vuex';
import AuthService from '../services/auth.service';

const ERRORS = {
  USERNAME: { id: 0, t: 'login.error.username' },
  PASSWORD: { id: 1, t: 'login.error.password' },
  LOGIN: { id: 2, t: 'login.error.login' },
};

export default {

  data() {
    return {
      sending: false,
      errors: [false, false, false],
      username: '',
      password: '',
    };
  },
  computed: {
    ERRORS: () => ERRORS,
  },
  methods: {
    hasError({ id }) {
      return this.errors[id];
    },
    setError({ id }, error = true) {
      Vue.set(this.errors, id, error);
    },
    clearErrors() {
      this.errors = this.errors.map(() => false);
    },
    login() {
      let sendable = true;
      this.clearErrors();

      if (this.username === '') {
        this.setError(this.ERRORS.USERNAME);
        sendable = false;
      }

      if (this.password === '') {
        this.setError(this.ERRORS.PASSWORD);
        sendable = false;
      }

      if (sendable) {
        this.sending = true;

        AuthService.login(this.username, this.password)
          .then((loggedIn) => {
            if (loggedIn) {
              this.$router.push('/');
            } else {
              this.setError(this.ERRORS.LOGIN);
            }

            this.sending = false;
          });
      }
    },
  },
};
</script>
