<template>
    <div class="w-full flex flex-col items-center px-8">
        <h1 class="text-2xl my-16">{{$t('game.name')}}</h1>
        <h2 class="text-xl">{{$t('form.registertitle')}}</h2>
        <p :class="`text-red-500 text-sm mb-1 ${hasError(ERRORS.EMAIL) ? '' : 'opacity-0'}`">
          {{$t('form.error.email')}}
        </p>
        <input :class="`w-full md:w-1/2 input mb-4 ${hasError(ERRORS.EMAIL) ? 'input-error' : ''}`"
          type="text" v-model="email" :placeholder="$t('form.placeholder.email')">

        <p :class="`text-red-500 text-sm mb-1 ${hasError(ERRORS.USERNAME) ? '' : 'opacity-0'}`">
          {{$t('form.error.username')}}
        </p>
        <input :class="`w-full md:w-1/2 input mb-4 ${hasError(ERRORS.USERNAME) ? 'input-error' : ''}`"
          type="text" v-model="username" :placeholder="$t('form.placeholder.username')">

        <p :class="`text-red-500 text-sm mb-1 ${hasError(ERRORS.PASSWORD) ? '' : 'opacity-0'}`">
          {{$t('form.error.password')}}
        </p>
        <input :class="`w-full md:w-1/2 input mb-4 ${hasError(ERRORS.PASSWORD) ? 'input-error' : ''}`"
          type="password" v-model="password" :placeholder="$t('form.placeholder.password')">

        <p :class="`text-red-500 text-sm mb-1 ${hasError(ERRORS.CONFIRM) ? '' : 'opacity-0'}`">
          {{$t('form.error.confirm')}}
        </p>
        <input :class="`w-full md:w-1/2 input mb-4 ${hasError(ERRORS.CONFIRM) ? 'input-error' : ''}`"
          type="password" v-model="confirm" :placeholder="$t('form.placeholder.confirm')">

        <p :class="`text-red-500 text-sm mb-1 ${hasError(ERRORS.REGISTER) ? '' : 'opacity-0'}`">
          <!-- TODO: better error message -->
          {{$t('form.error.register')}}
        </p>
        <button class="button button-primary mb-8" :disabled="sending" @click="register">{{$t('form.button.signup')}}</button>

        <p class="text-teal-1">
           {{$t('form.haveaccount')}}
            <router-link to="/login">
                <u>{{$t('form.haveaccountlink')}}</u>
            </router-link>
        </p>
    </div>
</template>

<script>
import Vue from 'vue';
import AuthService from '../services/auth.service';

const ERRORS = {
  EMAIL: { id: 0 },
  USERNAME: { id: 1 },
  PASSWORD: { id: 2 },
  CONFIRM: { id: 3 },
  REGISTER: { id: 4 },
};

export default {
  data() {
    return {
      errors: [false, false, false, false, false],
      sending: false,
      email: '',
      username: '',
      password: '',
      confirm: '',
    };
  },
  computed: {
    ERRORS: () => ERRORS,
  },
  methods: {
    hasError({ id }) {
      return this.errors[id];
    },
    setError({ id }, error = true) {
      Vue.set(this.errors, id, error);
    },
    clearErrors() {
      this.errors = this.errors.map(() => false);
    },
    async register() {
      let sendable = true;
      this.clearErrors();

      if (this.email === '') {
        this.setError(ERRORS.EMAIL);
        sendable = false;
      }

      if (this.username === '') {
        this.setError(ERRORS.USERNAME);
        sendable = false;
      }

      if (this.password === '') {
        this.setError(ERRORS.PASSWORD);
        sendable = false;
      }

      if (this.confirm !== this.password) {
        this.setError(ERRORS.CONFIRM);
        sendable = false;
      }

      if (sendable) {
        this.sending = true;

        AuthService.register(this.email, this.username, this.password)
          .then((user) => {
            if (user) {
              this.$store.set('player/user', user);
              this.$router.push('/');
            } else {
              this.setError(this.ERRORS.REGISTER);
            }

            this.sending = false;
          });
      }
    },
  },
};
</script>
