<template>
    <div>
      <div class="tabs">
        <div v-for="(tab, index) in tabs" :key="index" @click="tabIndex = index"
          :class="`tab ${tabIndex === index ? 'tab-selected' : ''}`">
          <p class="tab-text">{{$t(tab.name)}}</p>
        </div>
      </div>
      <component :is="currentTab.component" class="mt-8"></component>
    </div>
</template>

<script>
import { get } from 'vuex-pathify';
import ResourcesTab from '@/components/game/inventories/tabs/ResourcesTab.vue';
import WeaponsTab from '@/components/game/inventories/tabs/WeaponsTab.vue';
import ArmoursTab from '@/components/game/inventories/tabs/ArmoursTab.vue';
import SkillsTab from '@/components/game/inventories/tabs/SkillsTab.vue';
import ApiService from '@/services/api.service';
import AdventurerService from '@/services/adventurer.service';

export default {
  name: 'Adventurer',
  components: {
    ResourcesTab,
    WeaponsTab,
    ArmoursTab,
    SkillsTab,
  },
  data() {
    return {
      tabs: [
        { component: 'WeaponsTab', name: 'inventories.tab.weapons' },
        { component: 'ArmoursTab', name: 'inventories.tab.armours' },
        { component: 'SkillsTab', name: 'inventories.tab.skills' },
        { component: 'ResourcesTab', name: 'inventories.tab.resources' },
      ],
      tabIndex: 0,
      weapons: [],
      armors: [],
    };
  },
  computed: {
    adventurer: get('player/adventurer'),
    currentTab() {
      return this.tabs[this.tabIndex];
    },
  },
};
</script>

<style lang="postcss" scoped>
.tabs {
  @apply flex items-center rounded-sm bg-gray-600 overflow-hidden my-4;
}

.tab {
  @apply flex-1 flex cursor-pointer;
  @apply transition-colors ease-in-out duration-500;
}

.tab-selected {
  @apply bg-blue-500;
}

.tab-text {
  @apply flex-1 text-center p-1;
}

.tab-separator {
  @apply border-l border-twhite;
}
</style>
