<template>
  <div>
    <div class="flex flex-col items-left md:flex-row md:justify-between md:items-center mb-4">
      <div class="text-xl">{{$t(label)}}</div>
      <div v-if="sorts.length > 0" class="flex items-center">
        <div class="mr-2">{{$t('inventories.label.sortby')}}</div>
        <div v-for="(s, index) in sorts" :key="index" @click="sortBy(index)"
          :class="`m-1 px-1 cursor-pointer ${sort === index ? 'rounded-sm bg-blue-500' : ''}`">
          {{$t(sorts[index])}}
        </div>
      </div>
    </div>
    <div v-if="skills.length > 0" class="flex flex-wrap items-center">
      <div v-for="(skill, index) in skills" :key="`skill-inventory-${index}`"
          class="w-full">
        <hr v-if="index > 0" class="my-4 bg-twhite" />
        <skill-card :skill="skill"/>
        <div class="mt-4 flex items-center flex-wrap -mx-1">
          <button class="button button-primary m-1" @click="$emit('equip', index)">
            {{$t('game.button.equip')}}
          </button>
        </div>
      </div>
    </div>
    <div v-else class="ml-4">{{$t('inventories.label.empty')}}</div>
    <div v-if="count > 0 && (offset > 0 || skills.length > 0)" class="flex items-center justify-center">
      <button class="button button-primary" :disabled="offset <= 0" @click="previousPage">
        <fa-icon icon="chevron-left" />
      </button>
      <p class="w-32 text-center">{{Math.floor(offset / count) + 1}}</p>
      <button class="button button-primary" :disabled="skills.length < count" @click="nextPage">
        <fa-icon icon="chevron-right" />
      </button>
    </div>
  </div>
</template>

<script>
import { library } from '@fortawesome/fontawesome-svg-core';
import { faChevronLeft, faChevronRight } from '@fortawesome/free-solid-svg-icons';
import SkillCard from '@/components/cards/SkillCard.vue';

library.add(faChevronLeft, faChevronRight);

export default {
  name: 'skill-inventory',
  components: {
    SkillCard,
  },
  props: {
    label: { required: true, type: String },
    skills: { required: true, type: Array },
    sorts: { required: true, type: Array },
    sort: { required: true, type: Number },
    offset: { required: true, type: Number },
    count: { required: true, type: Number },
  },
  methods: {
    sortBy(index) {
      this.$emit('sort-by', index);
    },
    previousPage() {
      this.$emit('previous-page');
    },
    nextPage() {
      this.$emit('next-page');
    },
  },
};
</script>
