<template>
  <div class="bg-gray-900 flex">
    <div v-for="(item, index) in items" :key="index" @click="clickItem(index)"
      :class="`flex-1 cursor-pointer flex flex-col justify-center items-center py-2 ${itemIndex === index ? 'bg-gray-800' : ''} hover:bg-gray-800`">
      <img :src="item.image" class="w-10">
      <div class="text-sm text-twhite">{{$t(item.text)}}</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'game-menu',
  props: {
    items: {
      type: Array,
      required: true,
    },
    itemIndex: {
      type: Number,
      required: true,
    },
  },
  methods: {
    getItem(index) {
      return this.items[index];
    },
    clickItem(index) {
      this.$emit('click', index);
    },
  },
};
</script>
