<template>
  <VueP5 @preload="preload" @setup="setup" @draw="draw" @mousepressed="mousePressed"
    ref="p5" class="flex justify-center"></VueP5>
</template>

<script>
import VueP5 from 'vue-p5';
import ImageService from '@/services/image.service';

export default {
  name: 'MapP5',
  components: { VueP5 },
  props: {
    region: {
      required: true,
      type: Object,
    },
    areas: {
      required: true,
      type: Array,
    },
    edges: {
      required: true,
      type: Array,
    },
    location: {
      required: true,
      type: Object,
    },
  },
  data() {
    return {
      cellSize: { width: 0, height: 0 },
      grid: [],
      selected: null,
      p5: null,
      images: {},
    };
  },
  computed: {
    pathValues() {
      return {
        up: 0b1000,
        down: 0b0100,
        left: 0b0010,
        right: 0b0001,
      };
    },
  },
  methods: {
    getArea(key) {
      for (let i = 0; i < this.areas.length; i += 1) {
        if (this.areas[i].key === key) {
          return this.areas[i];
        }
      }
      return null;
    },
    getAreaAt(x1, y1) {
      for (let i = 0; i < this.areas.length; i += 1) {
        const { x, y } = this.areas[i].position;
        if (x1 === x && y1 === y) {
          return this.areas[i];
        }
      }
      return null;
    },
    createCell(x, y, type) {
      return {
        x, y, paths: 0, area: null, type,
      };
    },
    image(type) {
      const img = this.images[type];
      return img || this.images.NOT_FOUND;
    },
    preload(p5) {
      const toLoad = [
        'SPAWN_AREA', 'CRAFTING_AREA', 'GATHERING_AREA',
        'TELEPORTATION_AREA', 'LOOT_TREASURE_AREA', 'SKILL_TREASURE_AREA',
        'MONSTER_SPAWNER_AREA', 'MONSTER_BOSS_AREA',
        'TRAINING_AREA', 'CULTIVATION_AREA', 'SKILL_PRACTICE_AREA',
      ];
      toLoad.forEach((type) => {
        this.images[type] = p5.loadImage(ImageService.getAreaIcon(type));
      });

      this.images.NOT_FOUND = p5.loadImage(ImageService.getNotFoundIcon());
    },
    setup(p5) {
      p5.createCanvas(300, 300);

      // create base grid
      this.grid = [];
      for (let x = 0; x < this.region.width; x += 1) {
        this.grid.push([]);
        for (let y = 0; y < this.region.height; y += 1) {
          this.grid[x].push(this.createCell(x, y));
        }
      }

      // place areas on grid
      this.areas.forEach(({ key, position, type }) => {
        this.grid[position.x][position.y].area = key;
        this.grid[position.x][position.y].type = type;
      });

      // add paths to the grid
      this.edges.forEach((edge) => {
        const startArea = this.getArea(edge.aKey);
        if (startArea) {
          let { x, y } = startArea.position;
          edge.path.forEach((movement) => {
            switch (movement) {
              case 'UP':
                this.grid[x][y].paths |= this.pathValues.up;
                y -= 1;
                this.grid[x][y].paths |= this.pathValues.down;
                break;
              case 'DOWN':
                this.grid[x][y].paths |= this.pathValues.down;
                y += 1;
                this.grid[x][y].paths |= this.pathValues.up;
                break;
              case 'LEFT':
                this.grid[x][y].paths |= this.pathValues.left;
                x -= 1;
                this.grid[x][y].paths |= this.pathValues.right;
                break;
              case 'RIGHT':
                this.grid[x][y].paths |= this.pathValues.right;
                x += 1;
                this.grid[x][y].paths |= this.pathValues.left;
                break;
              default:
                break;
            }
          });
        }
      });

      this.cellSize = {
        width: p5.width / this.region.width,
        height: p5.height / this.region.height,
      };
    },
    draw(p5) {
      p5.clear();
      for (let x = 0; x < this.region.width; x += 1) {
        for (let y = 0; y < this.region.height; y += 1) {
          this.drawCell(p5, this.grid[x][y]);
        }
      }
    },
    drawCell(p5, {
      x, y, paths, area, type,
    }) {
      p5.noFill();
      p5.stroke(255);
      p5.strokeWeight(2);
      if (paths & this.pathValues.up) {
        p5.line(
          (x + 0.5) * this.cellSize.width,
          (y + 0.5) * this.cellSize.height,
          (x + 0.5) * this.cellSize.width,
          (y) * this.cellSize.height,
        );
      }

      if (paths & this.pathValues.down) {
        p5.line(
          (x + 0.5) * this.cellSize.width,
          (y + 0.5) * this.cellSize.height,
          (x + 0.5) * this.cellSize.width,
          (y + 1) * this.cellSize.height,
        );
      }

      if (paths & this.pathValues.left) {
        p5.line(
          (x) * this.cellSize.width,
          (y + 0.5) * this.cellSize.height,
          (x + 0.5) * this.cellSize.width,
          (y + 0.5) * this.cellSize.height,
        );
      }

      if (paths & this.pathValues.right) {
        p5.line(
          (x + 0.5) * this.cellSize.width,
          (y + 0.5) * this.cellSize.height,
          (x + 1) * this.cellSize.width,
          (y + 0.5) * this.cellSize.height,
        );
      }

      if (area) {
        p5.noFill();
        if (this.location.x === x && this.location.y === y) {
          p5.fill(27, 32, 43);
        } else if (this.selected && this.selected.x === x && this.selected.y === y) {
          p5.fill(47, 55, 71);
        } else {
          p5.fill(76, 85, 102);
        }

        p5.circle(
          (x + 0.5) * this.cellSize.width,
          (y + 0.5) * this.cellSize.height,
          Math.min(this.cellSize.width, this.cellSize.height) * 0.8,
        );
        p5.image(
          this.image(type),
          (x + 0.25) * this.cellSize.width,
          (y + 0.25) * this.cellSize.height,
          Math.min(this.cellSize.width, this.cellSize.height) * 0.5,
          Math.min(this.cellSize.width, this.cellSize.height) * 0.5,
        );
      }
    },
    mousePressed(p5) {
      const x = Math.floor(p5.mouseX / this.cellSize.width);
      const y = Math.floor(p5.mouseY / this.cellSize.height);

      if (this.isPosInMap(x, y)) {
        if (this.grid[x][y].area /* && (this.location.x !== x || this.location.y !== y) */) {
          if (this.hasPathBetween(this.location.x, this.location.y, x, y)) {
            this.selected = { x, y };
            // this.draw(p5);
            this.$emit('selection-changed', this.getAreaAt(x, y));
          }
          // this.$emit('selection-changed', {
          //   area: this.getAreaAt(x, y),
          //   connected: this.hasPathBetween(this.location.x, this.location.y, x, y),
          // });
        } else {
          // this.$emit('selection-changed', null);
          // this.selected = { x: -1, y: -1 };
        }
      }
    },
    hasPathBetween(x1, y1, x2, y2) {
      if (!this.isPosInMap(x1, y1) || !this.isPosInMap(x2, y2)) return false;

      const a = this.grid[x1][y1].area;
      const b = this.grid[x2][y2].area;

      if (!a || !b) return false;

      for (let i = 0; i < this.edges.length; i += 1) {
        const { aKey, bKey } = this.edges[i];
        if ((a === aKey && b === bKey) || (a === bKey && b === aKey)) {
          return true;
        }
      }

      return false;
    },
    isPosInMap(x, y) {
      return x >= 0 && x < this.region.width && y >= 0 && y < this.region.height;
    },
  },
  watch: {
    location() {
      this.selected = null;
      this.$emit('selection-changed', null);
    },
  },
};
</script>
