<template>
  <vue-p5 @setup="setup" @draw="draw" class="flex justify-center"></vue-p5>
</template>

<script>
import VueP5 from 'vue-p5';
import ImageService from '@/services/image.service';

export default {
  name: 'realm-map-p5',
  components: { VueP5 },
  props: {
    region: {
      required: true,
      type: Object,
    },
    regions: {
      required: true,
      type: Array,
    },
    radius: {
      required: true,
      type: Number,
    },
  },
  data() {
    return {
      lvlshort: '',
    };
  },
  methods: {
    setup(p5) {
      p5.createCanvas(500, 100);
    },
    draw(p5) {
      p5.clear();
      p5.translate(250, 50);

      const size = this.regions.length;
      let index = 0;
      let regionIndex = 0;

      while (this.regions[regionIndex].key !== this.region.key) {
        regionIndex += 1;
      }

      for (let i = regionIndex; i > 0; i -= 1) {
        const current = this.regions[index];
        if (!current || current.key === this.region.key) break;

        this.drawRegion(p5, i, current.level, -75 * i, (i % 2 === 1 ? 20 : 0));
        index += 1;
      }

      this.drawRegion(p5, 0, this.region.level, 0, 0, true);
      index += 1;

      for (let i = 1; i <= this.radius; i += 1) {
        const current = this.regions[index];
        if (!current || current.key === this.region.key) break;

        this.drawRegion(p5, i, current.level, 75 * i, (i % 2 === 1 ? 20 : 0));
        index += 1;
      }
    },
    drawRegion(p5, index, level, x, y, current = false) {
      p5.stroke(255);
      p5.strokeWeight(2);
      p5.fill(76, 85, 102);

      p5.circle(x, y, 25);

      if (current) {
        p5.strokeWeight(1);
        p5.triangle();

        const m = 2 * Math.sin(p5.millis() / 250);
        p5.triangle(x, y - 25 + m, x - 5, y - 35 + m, x + 5, y - 35 + m);
      }

      p5.noStroke();
      p5.fill(255);

      p5.textAlign(p5.CENTER, p5.TOP);
      p5.text(`${this.lvlshort} ${level}`, x, y + 20);
    },
  },
  created() {
    this.lvlshort = this.$t('adventurer.levelshort');
  },
};
</script>
