<template>
  <modal @close="$emit('close')">
    <template v-slot:header>{{$t('area.training.selection')}}</template>
    <template v-slot:body>
      <div class="grid grid-cols-2 md:grid-cols-4">
        <div v-for="weapon in weapons" :key="weapon" class="p-2">
          <button class="button button-primary w-full"
            @click="$store.dispatch('player/startIdleAction', { actionState: 'TRAINING', data: weapon })">
            {{weapon}}
          </button>
        </div>
      </div>
    </template>
  </modal>
</template>

<script>
import Modal from '@/components/utils/Modal.vue';

export default {
  name: 'trianing-selection',
  components: {
    Modal,
  },
  data() {
    return {
      weapons: [
        'SWORD',
        'DAGGER',
        'AXE',
        'HAMMER',
        'SPEAR',
        'STAFF',
        'SCYTHE',
        'BOW',
      ],
    };
  },
};
</script>
