<template>
  <div>{{$t(label)}} {{value}}</div>
</template>

<script>
export default {
  name: 'Attribute',
  props: {
    label: {
      type: String,
      required: true,
    },
    value: {
      type: Number,
      required: true,
    },
  },
};
</script>
