<template>
  <div :class="`overflow-hidden w-full rounded-full border ${borderColor}`">
    <div :class="`text-sm ${value > 0 ? bgColor : 'bg-transparent'}`"
      :style="{ width: `${value * 100 / max}%` }">
      <p class="mx-2">{{value}}/{{max}}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AttributeBar',
  props: {
    borderColor: {
      type: String,
      required: true,
    },
    bgColor: {
      type: String,
      required: true,
    },
    value: {
      type: Number,
      required: true,
    },
    max: {
      type: Number,
      required: true,
    },
  },
};
</script>
