<template>
  <span>{{$t(tier)}} {{$t(name)}}</span>
</template>

<script>
export default {
  name: 'item-name',
  props: {
    itemData: { required: true, type: Object },
  },
  computed: {
    name() {
      switch (this.itemData.type) {
        case 'RESOURCE_DATA':
          return `item.name.${this.itemData.resourceType.toLowerCase()}`;

        case 'WEAPON_DATA':
          return `item.name.${this.itemData.weaponType.toLowerCase()}`;

        case 'ARMOUR_DATA':
          return `item.name.${this.itemData.equipmentSlot.toLowerCase()}`;

        default:
          return 'item.name.item';
      }
    },
    tier() {
      return `item.tier.${this.itemData.itemTier.toLowerCase()}`;
    },
  },
};
</script>
