<template>
  <div class="flex items-center">
    {{label}}
    <attribute-bar class="ml-1 flex-1" :value="value" :max="max"
      :borderColor="borderColor" :bgColor="bgColor"/>
  </div>
</template>

<script>
import AttributeBar from './AttributeBar.vue';

export default {
  name: 'LabeledAttributeBar',
  components: {
    AttributeBar,
  },
  props: {
    label: {
      type: String,
      required: true,
    },
    borderColor: {
      type: String,
      required: true,
    },
    bgColor: {
      type: String,
      required: true,
    },
    value: {
      type: Number,
      required: true,
    },
    max: {
      type: Number,
      required: true,
    },
  },
};
</script>
