<template>
  <div class="modal-mask">
    <div class="modal">
      <div class="modal-header">
        <div class="flex-1 pr-8 text-2xl">
          <slot name="header"/>
        </div>
        <button class="button button-link" @click="$emit('close')">
          <fa-icon icon="times"/>
        </button>
      </div>
      <div class="mt-8">
        <slot name="body"/>
      </div>
    </div>
  </div>
</template>

<script>
import { library } from '@fortawesome/fontawesome-svg-core';
import { faTimes } from '@fortawesome/free-solid-svg-icons';

library.add(faTimes);

export default {
  name: 'modal',
};
</script>

<style lang="postcss" scoped>
.modal-mask {
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.6);
  @apply fixed left-0 right-0 top-0 bottom-0;
  @apply flex flex-col items-center p-8;
}

.modal {
  @apply bg-gray-700 p-4 w-full;
}

.modal-header {
  @apply flex items-center;
}
</style>
