<template>
  <div class="flex items-center justify-center">
    <button class="button button-primary" :disabled="offset <= 0" @click="$emit('previous')">
      <fa-icon icon="chevron-left" />
    </button>
    <p class="w-32 text-center">{{pageNumber}}</p>
    <button class="button button-primary" :disabled="size < count" @click="$emit('next')">
      <fa-icon icon="chevron-right" />
    </button>
  </div>
</template>

<script>
import { library } from '@fortawesome/fontawesome-svg-core';
import { faChevronLeft, faChevronRight } from '@fortawesome/free-solid-svg-icons';

library.add(faChevronLeft, faChevronRight);

export default {
  name: 'PaginationController',
  props: {
    count: { type: Number, required: true },
    offset: { type: Number, required: true },
    size: { type: Number, required: true },
  },
  computed: {
    pageNumber() {
      return this.count > 0 ? Math.floor(this.offset / this.count) + 1 : 0;
    },
  },
};
</script>
