<template>
  <div>
    <div class="flex items-center">
      <div class="flex-1 mr-8 text-2xl">
        <slot name="header"></slot>
      </div>
      <button class="button button-secondary" @click="$emit('close')">
        <fa-icon icon="chevron-left" /> {{$t('game.button.back')}}
      </button>
    </div>
    <div class="mt-8">
      <slot name="body"></slot>
    </div>
  </div>
</template>

<script>
import { library } from '@fortawesome/fontawesome-svg-core';
import { faChevronLeft } from '@fortawesome/free-solid-svg-icons';

library.add(faChevronLeft);

export default {
  name: 'secondary-window',
};
</script>
